body {
	font-weight: normal;
	color: #333333;
	font-family: メイリオ;
	font-size: 20px;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
}
.header2{
	width: 520px;
	display: flex;
	justify-content: space-between;
}
.head_btn,.head_btn2{
	width: 250px;
	display: block;
	text-align: center;
	background-color: #333333;
	color: #fff;
	padding: 20px 60px;
}
.head_btn{
	background-color: deeppink;
}
.head_btn2{
	background-color: darkgreen;
}
.sec_btn{
	display: flex;
	justify-content: space-between;
	margin: 10px 200px;
}
.mv,img{
	width: 100%;
}
.sec_01_box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}
.sec_01_left p{
	margin-top: 10px;
}
main{
	margin: 0 20px;
}
.sec_03{
	margin-top: 80px;
}
.sec_03_content{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.sec_03_box {
  width: 49%;
}
.sec_03_box p{
	margin-top: 10px;
}
.sec_03_p{
	margin-top: 10px;
}
.content_03{
	margin-top: 80px;
	display: flex;
	background-color: lightgrey;
	padding: 40px;
}
.content_right{
	margin: auto 0;
}
.wrapper_900{
	margin-top: 80px;
}
.sec_02content{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.content_02{
	width: 31%;
}
.sec_02_h3{
	margin-top: 10px;
}
h5{
	margin-top: 10px;
}
.wrapper{
	display: flex;
	background-color: lightgrey;
	padding: 50px;
	justify-content: space-between;
	margin-top: 80px;
}
.content_btn01,.content_btn02{
	display: block;
	width: 600px;
	text-align: center;
	padding: 50px 150px;
	background-color: #fff;
}
.center_btn01{
	display: block;
	padding: 15px;
	background-color: deeppink;
	color: #fff;
	margin-top: 10px;
}
.center_btn02{
	display: block;
	padding: 15px;
	background-color: darkgreen;
	color: #fff;
	margin-top: 10px;
}
.wrapper02{
	margin-top: 500px;
	text-align: center;
}
.wrapper03{
	margin-top: 80px;	
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
}
.center_btn03{
	display: flex	;
	justify-content: space-between;
	padding: 20px 20px 70px;
}
footer{
	text-align: center;
	margin-top: 20px;
	font-size: 30pxpx;
}